// SCSS Custom Rules

@import 'variables';
@import 'typography';

.rotate {
  transform: rotate(45deg) translateY(11px);
}
.rotateReverse {
  transform: rotate(-45deg) translateY(-11px);
}
.disapear {
  opacity: 0;
}
