// SCSS Custom Rules

@import 'variables';
@import 'typography';

body {
  overflow-x: hidden;
}
input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-secondary;
}

textarea:focus-within ~ label,
textarea:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

textarea:focus-within ~ label {
  @apply text-secondary;
}

.rotate {
  transform: rotate(45deg) translateY(11px);
}
.rotateReverse {
  transform: rotate(-45deg) translateY(-11px);
}
.disapear {
  opacity: 0;
}
.active {
  border-bottom: 1px solid white;
}
#signup-check:checked ~ .check {
  @apply opacity-100;
  animation: check-anime 0.5s 1;
}

@keyframes check-anime {
  0% {
    @apply transform scale-100;
  }
  50% {
    @apply transform scale-150 opacity-0;
  }
  100% {
    @apply transform scale-100;
  }
}

.scroll-line {
  animation: line 5s linear infinite;
}

@keyframes line {
  0% {
    transform: translateY(-0.6rem);
  }
  25% {
    transform: translateY(0.6rem);
  }
  50% {
    transform: translateY(-0.6rem);
  }
  75% {
    transform: translateY(0.6rem);
  }
  100% {
    transform: translateY(-0.6rem);
  }
}

.no-mobile {
  @media (max-width: 768px) {
    display: none;
  }
  @media (min-width: 768px) {
    display: flex;
  }
}
