@import 'variables';
@import 'typography';
@import 'custom';

@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

:root {
  --primary: $color-primary;
  --secondary: $color-secondary;
  --dark-gray: $color-dark-gray;
  --light-gray: $color-light-gray;
  --mid-gray: $color-mid-gray;
}
